@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0) rotateZ(-25deg);
  }
  25% {
    opacity: 0.8;
    transform: translateY(-30px) rotateZ(25deg);
  }
  50% {
    opacity: 0.6;
    transform: translateY(-60px) rotateZ(-25deg);
  }
  75% {
    opacity: 0.4;
    transform: translateY(-90px) rotateZ(25deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-120px) rotateZ(-25deg);
  }
}

.fadeOut {
  animation: fadeOut 4s ease-in-out forwards;
}
